
    {%extends "base.html"%}

{% block page_title%}
Home
{%endblock page_title %}



    {% block content%}
    <div class="container rounded-xl mx-auto bg-gray-800 h-50vh my-32 mb-24 bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1517154421773-0529f29ea451?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
    </div>
    
    {% for room in rooms %}
    <h4>
    <a href ="{% url 'rooms:detail' pk=room.pk %}">
    {{room.name}} / {{room.price}}
    </a>
    </h4>
    {% endfor %}

    <h5>
    {% if page_obj.has_previous %}
        <a href = "?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{page_obj.number}} of {{page_obj.paginator.num_pages }}
    
    {% if page_obj.has_next %}
    <a href = "?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
    </h5>

    {% for page in page_obj.paginator.page_range %}
    <a href = "?page={{page}}">{{page}}</a>
    {% endfor %}



    {% endblock content %}



